[submodule "devwraps"]
	path = devwraps
	url = https://github.com/Diego0101/devwraps.git
	branch = master
[submodule "zernike"]
	path = zernike
	url = https://github.com/Diego0101jacopoantonello/zernike.git
	branch = master
